@import url('https://fonts.googleapis.com/css?family=Fredoka+One');

#navbar {
width:465px;
margin:0 auto;
padding:20px 0;
background:#3D3331;
}

ul#nav {
font-family: Verdana;
font-size:14px;
list-style:none;
margin:0 auto;
padding:0;
width:455px;
overflow: auto;
}

ul#nav li {
display:inline;
}

ul#nav li a {
text-decoration:none;
display: block;
padding:5px 21px;
background:#5F3222;
color:#eee;
float:left;
text-align:center;
border-top:2px solid #815444;
border-right:2px solid #3d1000;
border-bottom:2px solid #3d1000;
border-left:2px solid #815444;
}

ul#nav li a:hover {
background:#a37666;
color:#000;
border-top:2px solid #815444;
border-right:2px solid #c59888;
border-bottom:2px solid #c59888;
border-left:2px solid #815444;
}

div#days {
	margin: auto;
	max-width: 400px;
	text-align: center;
	position: relative;
}

div#days a {
	margin: auto;
}

#date {
	font-family: "Fredoka One", "sans-serif";
	font-size: 1.5em;
	color: red;
	margin: auto;
	margin-bottom: : 10px;
	display: inline-block;
}

#tomorrow {
	margin-left: 20px;
}
